################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsDebuggerPlayground/x64/Debug/WindowsDebuggerPlayground.vcxproj.FileListAbsolute.txt
