################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WindowsDebuggerPlayground/x64/Debug/WindowsDebuggerPlayground.vcxproj.FileListAbsolute.txt
/WindowsDebuggerPlayground/x64/Debug/WindowsDebuggerPlayground.log
*.log
*.ipch
*.opendb
*.db
*.suo
*.tlog
*.obj
*.idb
*.pdb
*.exe
*.ilk
